P{
    color: red;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    font-weight:bolder;
    font-weight:700;
    font-style:italic;
    font-weight:oblique 70deg;
    text-align:center;
    text-align:justify;
}
h1{
    text-align:center;
}